APP_ENV=local
APP_NAME=Prod.by Bot

BOT_TOKEN=replace_me
TELEGRAM_GROUP_ID=replace_me

DATABASE_URL=postgresql+asyncpg://prodby:prodby@postgres:5432/prodby
SYNC_DATABASE_URL=postgresql+psycopg://prodby:prodby@postgres:5432/prodby

ADMIN_IDS=1692840322,7824886025,263582171,5630900291
DEV_ADMIN_ID=1692840322
CORS_ORIGINS=http://localhost:5173

PUBLIC_WEBAPP_URL=https://replace-with-ngrok-or-domain
API_BASE_URL=http://localhost:8000
